<a href="https://colab.research.google.com/github/CarlosVVZ/Proyecto_Modulo2/blob/main/Proyecto_equipo_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pandas
! pip install matplotlib
! pip install seaborn
! pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 81.1 kB/s eta 0:00:00m eta 0:00:01[36m0:00:04
Collecting python-dateutil>=2.8.1
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: pytz>=2020.1 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Installing collected packages: python-dateutil, pandas
Successfully installed pandas-1.4.2 python-dateutil-2.8.2
Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Using cached matplotlib-3.5.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.3 MB)
Requirement already satisfied: packaging>=20.0 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib) (1.22.1)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.31.2-py3-none-any.whl (899 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: pyparsing>=2.2.1 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib) (3.0.6)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (7.0.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.14.0)
Installing collected packages: kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.31.2 kiwisolver-1.4.2 matplotlib-3.5.1
Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: pandas>=0.23 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from seaborn) (1.4.2)
Requirement already satisfied: numpy>=1.15 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from seaborn) (1.22.1)
Requirement already satisfied: scipy>=1.0 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.31.2)
Requirement already satisfied: pyparsing>=2.2.1 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: packaging>=20.0 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (7.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /home/kevin-ruy/.local/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.14.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/kevin-ruy/.local/lib/python3.8/site-packages (1.22.1)

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [ ]:
file = pd.read_csv('/home/kevin-ruy/Documentos/A-TrabajoequipoData/forbes-dataset-2020.csv')
file

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [ ]:
#LIMPIEZA DEL DF

# Creating a copy of the original dataframe- df
df1 = file.copy()
df1.drop('S.NO',axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  301 non-null    object
 1   Nationality           301 non-null    object
 2   Current Rank          301 non-null    int64
 3   Previous Year Rank    277 non-null    object
 4   Sport                 301 non-null    object
 5   Year                  301 non-null    int64
 6   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 16.6+ KB

In [ ]:
#FORMATO DEL DF

# Convert string to datetime64
df1['Year'] = df1['Year'].apply(pd.to_datetime,format='%Y')

#Set Date column as the index column.
df1['year'] = pd.DatetimeIndex(df1['Year']).year  
df1.set_index('year', inplace=True)
df1.drop('Year',axis=1,inplace=True)

# Converting the sport column to uppercase
df1['Sport'] = df1['Sport'].str.upper()
df1.head()

,Name,Nationality,Current Rank,Previous Year Rank,Sport,earnings ($ million)
year,,,,,,
1990,Mike Tyson,USA,1,NaN,BOXING,28.6
1990,Buster Douglas,USA,2,NaN,BOXING,26.0
1990,Sugar Ray Leonard,USA,3,NaN,BOXING,13.0
1990,Ayrton Senna,Brazil,4,NaN,AUTO RACING,10.0
1990,Alain Prost,France,5,NaN,AUTO RACING,9.0

In [ ]:
df_rnk = df1.copy() #Copiamos el DF limpio
df_rnk["Previous Year Rank"] = df_rnk["Previous Year Rank"].astype(str).str.extract('(\d+)', expand=False) #Limpiar columna de ranking año pasado (quitar todo menos números)
df_rnk = df_rnk[(df_rnk['Current Rank'].notna()) & (df_rnk['Previous Year Rank'].notna())] # Filtrar filas, sólo podemos contrastar el ranking si ambas columnas tienen valor asignado
df_rnk["Previous Year Rank"] = df_rnk["Previous Year Rank"].astype(int) #Convertir ranking año pasado a entero
df_rnk["Current Rank"] = df_rnk["Current Rank"].astype(int) #Convertir ranking año actual a entero
data_10_20 = df_rnk[(df_rnk.index >= 2010) & (df_rnk.index <= 2020) & ( df_rnk["Previous Year Rank"] - df_rnk["Current Rank"]  >= 2)] 
#Filtrar filas, si el año es mayor o igual a 2010 y menor o igual a 2020, también si la diferencia entre el ranking anterior y el actual es mayor o igual a 2
data_10_20 = data_10_20.sort_values(by='year',ascending=True)

z = data_10_20[['Name','Sport',"Previous Year Rank","Current Rank"]]
z

                    Name              Sport  Previous Year Rank  Current Rank
year
2010    Floyd Mayweather             BOXING                  10             2
2010      Phil Mickelson               GOLF                   6             4
2010       Roger Federer             TENNIS                  10             6
2011        LeBron James         BASKETBALL                   7             3
2011       Roger Federer             TENNIS                   6             4
2011   Cristiano Ronaldo             SOCCER                  13             7
2011      Alex Rodriguez           BASEBALL                  12             8
2011  Michael Schumacher          F1 RACING                  20             9
2011        Lionel Messi             SOCCER                  20            10
2012      Manny Pacquiao             BOXING                  24             2
2012   Cristiano Ronaldo             SOCCER                  21             9
2013         Kobe Bryant         BASKETBALL                   6             3
2013       Roger Federer             TENNIS                   5             2
2013         Tiger Woods               GOLF                   3             1
2014    Floyd Mayweather             BOXING                  14             1
2014   Cristiano Ronaldo             SOCCER                   9             2
2014        Lionel Messi             SOCCER                  10             4
2014        Rafael Nadal             TENNIS                  14             9
2014           Matt Ryan  AMERICAN FOOTBALL                 100            10
2015      Manny Pacquiao             BOXING                  11             2
2015       Roger Federer             TENNIS                   7             5
2015        Kevin Durant         BASKETBALL                  20             7
2016       Jordan Spieth               GOLF                  20             9
2016          Cam Newton  AMERICAN FOOTBALL                  20             7
2016      Novak Djokovic             TENNIS                  13             6
2016   Cristiano Ronaldo             SOCCER                   3             1
2016        LeBron James         BASKETBALL                   6             3
2016        Lionel Messi             SOCCER                   4             2
2016        Kevin Durant         BASKETBALL                   7             5
2017        Rory McIlroy               GOLF                  17             6
2018    Floyd Mayweather             BOXING                 100             1
2018      Conor McGregor                MMA                  24             4
2018              Neymar             SOCCER                  18             5
2018           Matt Ryan  AMERICAN FOOTBALL                 100             9
2018    Matthew Stafford  AMERICAN FOOTBALL                 100            10
2019       Roger Federer             TENNIS                   7             5
2019              Neymar             SOCCER                   5             3
2019      Canelo Alvarez             BOXING                  15             4
2020        Kirk Cousins  AMERICAN FOOTBALL                 100             9
2020       Roger Federer             TENNIS                   5             1
2020        LeBron James         BASKETBALL                   8             5
2020       Stephen Curry         BASKETBALL                   9             6
2020        Kevin Durant         BASKETBALL                  10             7
2020         Tiger Woods               GOLF                  11             8
2020        Carson Wentz  AMERICAN FOOTBALL                 100            10

In [ ]:
file= file.rename(columns= {'Previous Year Rank':'Previous_Year_Rank', 'earnings ($ million)':'earnings','Current Rank':'Current_Rank'})
file

,S.NO,Name,Nationality,Current_Rank,Previous_Year_Rank,Sport,Year,earnings
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [ ]:
file=file.dropna(0)
file

/tmp/ipykernel_38506/2699545303.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  file=file.dropna(0)

,S.NO,Name,Nationality,Current_Rank,Previous_Year_Rank,Sport,Year,earnings
10,11,Evander Holyfield,USA,1,8,boxing,1991,60.5
11,12,Mike Tyson,USA,2,1,boxing,1991,31.5
12,13,Michael Jordan,USA,3,8,basketball,1991,16.0
13,14,George Foreman,USA,4,>30,boxing,1991,14.5
14,15,Ayrton Senna,Brazil,5,4,auto racing,1991,13.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [ ]:
#Apariciones por ganancia
apariciones = file.groupby(['Name']).Name.count()
aparciones = pd.DataFrame(apariciones)
dinero = file.groupby(['Name']).earnings.sum()
dinero = pd.DataFrame(dinero)
df_dinero=pd.concat([apariciones,dinero],join ='inner', axis=1)
df_dinero= df_dinero.rename(columns= {'Name':'Apariciones'})
df_dinero= df_dinero.sort_values(['earnings','Apariciones'],ascending=False).sort_values('Apariciones')
df_dinero

                         Apariciones  earnings
Name
Carson Wentz                       1      59.1
Kirk Cousins                       1      60.5
Matthew Stafford                   1      59.5
Donovan "Razor" Ruddock            1      10.2
Novak Djokovic                     1      55.8
...                              ...       ...
Michael Schumacher                12     601.0
LeBron James                      13     844.8
Kobe Bryant                       14     601.1
Michael Jordan                    17     661.7
Tiger Woods                       18    1347.0

[75 rows x 2 columns]

In [ ]:
#Atleta que gana mas con menos apariciones
atleta = df_dinero.loc[df_dinero['Apariciones']==1]
atleta= atleta.sort_values('earnings')
print('El atleta que mas gana con menos apariciones es:\n\n', atleta[-1:])

El atleta que mas gana con menos apariciones es:

                 Apariciones  earnings
Name
Conor McGregor            1      99.0

In [ ]:
#Pais con mayor numero de atletas no rankeados
Atl_notran = file.loc[file['Previous_Year_Rank']== 'not ranked']
nacion=Atl_notran.groupby(['Nationality']).Nationality.count()
print('El pais con mayor numero de atletas no rankeados es \n\n',nacion)

El pais con mayor numero de atletas no rankeados es

 Nationality
USA    4
Name: Nationality, dtype: int64

In [ ]:
#Deporte con mayor numero de deportistas no rankeados es
deportes =Atl_notran.groupby(['Sport']).Sport.count().sort_values()
print('El deporte con mayor numero de deportistas no rankeados es:\n\n',deportes[-1:])

El deporte con mayor numero de deportistas no rankeados es:

 Sport
boxing    2
Name: Sport, dtype: int64

In [ ]:
#Jugadores por pais
"""Lista_deṕrtes=[]
for i in file['Sport']:
    if i in Lista_deṕrtes:
        pass
    else:
        Lista_deṕrtes.append(i)
for i in Lista_deṕrtes:
    Pais_ = file.loc[file['Sport']== i]
    df_dep_pais=Pais_.groupby(['Sport']).Sport.count()
    print(i)
    print(df_dep_pais,'\n\n')"""
#pais_dep = file.groupby(['Nationality']).Sport.count()
#pais_dep
df_count = df1.copy()
df_count = df_count[['Nationality', 'Sport']].value_counts()
#df_count = pd.DataFrame(df_count)
#df_count.rename(columns = {"Name":"Atletas"}, inplace = True)
#df_count.drop(["Current Rank", "Previous Year Rank",	"earnings ($ million)"], axis = 1, inplace=True)
#df_count = df_count.reset_index().drop(columns = [0])
df_count
#pais_dep = df_count.groupby(['Nationality']).Sport.count()
#pais_dep

Nationality       Sport
USA               BASKETBALL                      81
                  GOLF                            42
                  BOXING                          40
                  AMERICAN FOOTBALL               17
Switzerland       TENNIS                          12
Portugal          SOCCER                          10
Argentina         SOCCER                           9
UK                SOCCER                           9
USA               TENNIS                           9
                  BASEBALL                         5
Brazil            SOCCER                           5
Germany           F1 MOTORSPORTS                   5
                  F1 RACING                        5
Italy             MOTORCYCLE GP                    4
UK                AUTO RACING                      4
Brazil            AUTO RACING                      4
Philippines       BOXING                           3
USA               NASCAR                           3
                  NFL                              3
Germany           AUTO RACING                      3
France            AUTO RACING                      3
Finland           F1 RACING                        3
Canada            ICE HOCKEY                       2
USA               AUTO RACING (NASCAR)             2
Canada            AUTO RACING                      2
USA               NBA                              1
                  AUTO RACING                      1
Austria           AUTO RACING                      1
USA               CYCLING                          1
Dominican         BASEBALL                         1
USA               AMERICAN FOOTBALL / BASEBALL     1
Canada            BOXING                           1
Filipino          BOXING                           1
Spain             TENNIS                           1
Serbia            TENNIS                           1
Russia            ICE HOCKEY                       1
Australia         GOLF                             1
Northern Ireland  GOLF                             1
Mexico            BOXING                           1
Ireland           MMA                              1
Canada            HOCKEY                           1
dtype: int64

In [ ]:
#Lista de numero de jugadores por pais y deporte
Lista_paises=[]
for i in file['Nationality']:
    if i in Lista_paises:
        pass
    else:
        Lista_paises.append(i)
for i in Lista_paises:
    Pais_ = file.loc[file['Nationality']== i]
    df_dep_pais=Pais_.groupby(['Sport']).Sport.count()
    print(i)
    print(df_dep_pais,'\n\n')

USA
Sport
American Football               16
American Football / Baseball     1
Auto Racing                      1
Auto Racing (Nascar)             2
Baseball                         2
Basketball                      49
Boxing                          25
Golf                            21
NASCAR                           2
NBA                              1
NFL                              3
Tennis                           7
baseball                         2
basketball                      26
boxing                          10
cycling                          1
golf                            17
tennis                           2
Name: Sport, dtype: int64


Brazil
Sport
Auto Racing    1
Auto racing    1
Soccer         3
auto racing    1
soccer         2
Name: Sport, dtype: int64


France
Sport
Auto Racing    1
auto racing    1
Name: Sport, dtype: int64


Canada
Sport
Auto Racing    2
Hockey         1
Ice Hockey     1
boxing         1
ice hockey     1
Name: Sport, dtype: int64


UK
Sport
Auto Racing    2
Soccer         2
auto racing    1
soccer         7
Name: Sport, dtype: int64


Austria
Sport
Auto Racing    1
Name: Sport, dtype: int64


Germany
Sport
Auto Racing       2
F1 Motorsports    4
F1 racing         5
auto racing       1
Name: Sport, dtype: int64


Italy
Sport
motorcycle gp    4
Name: Sport, dtype: int64


Finland
Sport
F1 racing    3
Name: Sport, dtype: int64


Switzerland
Sport
Tennis    9
tennis    3
Name: Sport, dtype: int64


Philippines
Sport
Boxing    1
boxing    2
Name: Sport, dtype: int64


Portugal
Sport
Soccer    9
soccer    1
Name: Sport, dtype: int64


Dominican
Sport
baseball    1
Name: Sport, dtype: int64


Argentina
Sport
Soccer    8
soccer    1
Name: Sport, dtype: int64


Filipino
Sport
Boxing    1
Name: Sport, dtype: int64


Spain
Sport
Tennis    1
Name: Sport, dtype: int64


Serbia
Sport
Tennis    1
Name: Sport, dtype: int64


Northern Ireland
Sport
Golf    1
Name: Sport, dtype: int64


Ireland
Sport
MMA    1
Name: Sport, dtype: int64


Mexico
Sport
Boxing    1
Name: Sport, dtype: int64

In [ ]:
#Lista de minima y maxima ganancia por pais
lista_menor=[]
lista_mayor=[]
for i in Lista_paises:
    Pais_ = file.loc[file['Nationality']== i].sort_values(by = 'earnings')
    Pais_= Pais_.drop(columns= ['S.NO','Current_Rank','Previous_Year_Rank','Sport'])
    #print(i,'\n')
    lista_menor.append(Pais_.head(1))
    lista_mayor.append(Pais_.tail(1))
    #print('Menor ganancia\n',Pais_[:1],'\n\n')
    #print('Mayor ganancia\n',Pais_[-1:],'\n\n')
pd.DataFrame({'A':lista_menor,'B':lista_mayor})
a=pd.concat(lista_menor) 
b=pd.concat(lista_mayor)
c=pd.concat([a,b]).sort_values(by=['Nationality','earnings'])
c

                        Name       Nationality  Year  earnings
210             Lionel Messi         Argentina  2011      32.3
281             Lionel Messi         Argentina  2019     127.0
44            Gerhard Berger           Austria  1994      13.5
44            Gerhard Berger           Austria  1994      13.5
14              Ayrton Senna            Brazil  1991      13.0
283                   Neymar            Brazil  2019     105.0
16   Donovan "Razor" Ruddock            Canada  1991      10.2
130       Jacques Villeneuve            Canada  2003      23.0
208           Alex Rodriguez         Dominican  2011      35.0
208           Alex Rodriguez         Dominican  2011      35.0
212           Manny Pacquiao          Filipino  2012      62.0
212           Manny Pacquiao          Filipino  2012      62.0
164           Kimi Raikkonen           Finland  2007      40.0
184           Kimi Raikkonen           Finland  2009      45.0
15               Alain Prost            France  1991      11.0
33               Alain Prost            France  1993      16.0
58        Michael Schumacher           Germany  1995      15.0
132       Michael Schumacher           Germany  2004      80.0
274           Conor McGregor           Ireland  2018      99.0
274           Conor McGregor           Ireland  2018      99.0
150          Valentino Rossi             Italy  2005      28.0
189          Valentino Rossi             Italy  2009      35.0
284           Canelo Alvarez            Mexico  2019      94.0
284           Canelo Alvarez            Mexico  2019      94.0
267             Rory McIlroy  Northern Ireland  2017      50.0
267             Rory McIlroy  Northern Ireland  2017      50.0
188           Manny Pacquiao       Philippines  2009      40.0
242           Manny Pacquiao       Philippines  2015     160.0
207        Cristiano Ronaldo          Portugal  2011      38.0
282        Cristiano Ronaldo          Portugal  2019     109.0
256           Novak Djokovic            Serbia  2016      55.8
256           Novak Djokovic            Serbia  2016      55.8
239             Rafael Nadal             Spain  2014      44.5
239             Rafael Nadal             Spain  2014      44.5
180            Roger Federer       Switzerland  2008      35.0
291            Roger Federer       Switzerland  2020     106.3
18             Nigel Mansell                UK  1991       9.0
172            David Beckham                UK  2008      50.0
19         Sugar Ray Leonard               USA  1991       8.5
241         Floyd Mayweather               USA  2015     300.0

In [ ]:
#Lista de menor y mayor ganancia por deporte
Lista_deportes=[]
for i in file['Sport']:
    if i in Lista_deportes:
        pass
    else:
        Lista_deportes.append(i)
for i in Lista_deportes:
    dep_ = file.loc[file['Sport']== i].sort_values(by = 'earnings')
    dep_= dep_.drop(columns= ['S.NO','Nationality','Current_Rank','Previous_Year_Rank','Nationality'])
    print(i,'\n')
    print('Menor ganancia\n',dep_[:1],'\n\n')
    print('Mayor ganancia\n',dep_[-1:],'\n\n')

boxing

Menor ganancia
                        Name   Sport  Year  earnings
16  Donovan "Razor" Ruddock  boxing  1991      10.2


Mayor ganancia
                  Name   Sport  Year  earnings
192  Floyd Mayweather  boxing  2010      65.0


basketball

Menor ganancia
               Name       Sport  Year  earnings
12  Michael Jordan  basketball  1991      16.0


Mayor ganancia
             Name       Sport  Year  earnings
202  Kobe Bryant  basketball  2011      53.0


auto racing

Menor ganancia
              Name        Sport  Year  earnings
18  Nigel Mansell  auto racing  1991       9.0


Mayor ganancia
                   Name        Sport  Year  earnings
58  Michael Schumacher  auto racing  1995      15.0


golf

Menor ganancia
                  Name Sport  Year  earnings
19  Sugar Ray Leonard  golf  1991       8.5


Mayor ganancia
             Name Sport  Year  earnings
171  Tiger Woods  golf  2008     115.0


Basketball

Menor ganancia
              Name       Sport  Year  earnings
68  Dennis Rodman  Basketball  1996      12.9


Mayor ganancia
              Name       Sport  Year  earnings
288  LeBron James  Basketball  2019      89.0


Boxing

Menor ganancia
                  Name   Sport  Year  earnings
47  Evander Holyfield  Boxing  1994      12.0


Mayor ganancia
                  Name   Sport  Year  earnings
241  Floyd Mayweather  Boxing  2015     300.0


Auto Racing

Menor ganancia
              Name        Sport  Year  earnings
49  Nigel Mansell  Auto Racing  1994      11.3


Mayor ganancia
                    Name        Sport  Year  earnings
100  Michael Schumacher  Auto Racing  2000      59.0


Golf

Menor ganancia
                  Name Sport  Year  earnings
27  Sugar Ray Leonard  Golf  1992       9.2


Mayor ganancia
             Name Sport  Year  earnings
221  Tiger Woods  Golf  2013      78.1


Tennis

Menor ganancia
             Name   Sport  Year  earnings
29  Monica Seles  Tennis  1992       8.5


Mayor ganancia
               Name   Sport  Year  earnings
291  Roger Federer  Tennis  2020     106.3


NFL

Menor ganancia
            Name Sport  Year  earnings
26  Joe Montana   NFL  1992       9.5


Mayor ganancia
            Name Sport  Year  earnings
64  Emmit Smith   NFL  1996      16.5


Auto racing

Menor ganancia
             Name        Sport  Year  earnings
32  Ayrton Senna  Auto racing  1993      18.5


Mayor ganancia
             Name        Sport  Year  earnings
32  Ayrton Senna  Auto racing  1993      18.5


NBA

Menor ganancia
                 Name Sport  Year  earnings
35  Shaquille O'Neal   NBA  1993      15.2


Mayor ganancia
                 Name Sport  Year  earnings
35  Shaquille O'Neal   NBA  1993      15.2


Baseball

Menor ganancia
              Name     Sport  Year  earnings
37  Cecil Fielder  Baseball  1993      12.7


Mayor ganancia
                Name     Sport  Year  earnings
127  Alex Rodriguez  Baseball  2003      26.0


Ice Hockey

Menor ganancia
              Name       Sport  Year  earnings
45  Wayne Gretzky  Ice Hockey  1994      13.5


Mayor ganancia
              Name       Sport  Year  earnings
45  Wayne Gretzky  Ice Hockey  1994      13.5


American Football / Baseball

Menor ganancia
              Name                         Sport  Year  earnings
52  Deion Sanders  American Football / Baseball  1995      22.5


Mayor ganancia
              Name                         Sport  Year  earnings
52  Deion Sanders  American Football / Baseball  1995      22.5


tennis

Menor ganancia
             Name   Sport  Year  earnings
56  Andre Agassi  tennis  1995      16.0


Mayor ganancia
               Name   Sport  Year  earnings
204  Roger Federer  tennis  2011      47.0


ice hockey

Menor ganancia
              Name       Sport  Year  earnings
59  Wayne Gretzky  ice hockey  1995      14.5


Mayor ganancia
              Name       Sport  Year  earnings
59  Wayne Gretzky  ice hockey  1995      14.5


F1 Motorsports

Menor ganancia
                   Name           Sport  Year  earnings
62  Michael Schumacher  F1 Motorsports  1996      33.0


Mayor ganancia
                    Name           Sport  Year  earnings
122  Michael Schumacher  F1 Motorsports  2003      75.0


NASCAR

Menor ganancia
               Name   Sport  Year  earnings
77  Dale Earnhardt  NASCAR  1997      19.1


Mayor ganancia
                    Name   Sport  Year  earnings
190  Dale Earnhardt Jr.  NASCAR  2009      34.0


Hockey

Menor ganancia
          Name   Sport  Year  earnings
78  Joe Sakic  Hockey  1997      17.9


Mayor ganancia
          Name   Sport  Year  earnings
78  Joe Sakic  Hockey  1997      17.9


Auto Racing (Nascar)

Menor ganancia
             Name                 Sport  Year  earnings
120  Jeff Gordon  Auto Racing (Nascar)  2002      20.0


Mayor ganancia
                Name                 Sport  Year  earnings
105  Dale Earnhardt  Auto Racing (Nascar)  2000      24.5


F1 racing

Menor ganancia
                    Name      Sport  Year  earnings
209  Michael Schumacher  F1 racing  2011      34.0


Mayor ganancia
                    Name      Sport  Year  earnings
132  Michael Schumacher  F1 racing  2004      80.0


American Football

Menor ganancia
           Name              Sport  Year  earnings
160  Tom Brady  American Football  2006      29.0


Mayor ganancia
                Name              Sport  Year  earnings
286  Russell Wilson  American Football  2019      89.5


soccer

Menor ganancia
               Name   Sport  Year  earnings
138  David Beckham  soccer  2004      28.0


Mayor ganancia
               Name   Sport  Year  earnings
172  David Beckham  soccer  2008      50.0


baseball

Menor ganancia
                Name     Sport  Year  earnings
139  Alex Rodriguez  baseball  2004      26.2


Mayor ganancia
                Name     Sport  Year  earnings
208  Alex Rodriguez  baseball  2011      35.0


cycling

Menor ganancia
                 Name    Sport  Year  earnings
149  Lance Armstrong  cycling  2005      28.0


Mayor ganancia
                 Name    Sport  Year  earnings
149  Lance Armstrong  cycling  2005      28.0


motorcycle gp

Menor ganancia
                 Name          Sport  Year  earnings
150  Valentino Rossi  motorcycle gp  2005      28.0


Mayor ganancia
                 Name          Sport  Year  earnings
189  Valentino Rossi  motorcycle gp  2009      35.0


Soccer

Menor ganancia
              Name   Sport  Year  earnings
230  Lionel Messi  Soccer  2013      41.3


Mayor ganancia
              Name   Sport  Year  earnings
281  Lionel Messi  Soccer  2019     127.0


MMA

Menor ganancia
                Name Sport  Year  earnings
274  Conor McGregor   MMA  2018      99.0


Mayor ganancia
                Name Sport  Year  earnings
274  Conor McGregor   MMA  2018      99.0

In [ ]:
#Jugador con mayor ganancia por decada
Decadas= ['90','2000','2010','2020']
file_=file.copy()
file_= file_.drop(columns= ['S.NO','Nationality','Current_Rank','Previous_Year_Rank','Nationality'])

In [ ]:
file_['Year']=pd.cut(file['Year'],bins=[1990,2000,2010,2019,2020], labels= Decadas)
file_= file_.rename(columns= {'Year':'Decada'})
file_

                  Name              Sport Decada  earnings
10   Evander Holyfield             boxing     90      60.5
11          Mike Tyson             boxing     90      31.5
12      Michael Jordan         basketball     90      16.0
13      George Foreman             boxing     90      14.5
14        Ayrton Senna        auto racing     90      13.0
..                 ...                ...    ...       ...
296      Stephen Curry         Basketball   2020      74.4
297       Kevin Durant         Basketball   2020      63.9
298        Tiger Woods               Golf   2020      62.3
299       Kirk Cousins  American Football   2020      60.5
300       Carson Wentz  American Football   2020      59.1

[277 rows x 4 columns]

In [ ]:
#Jugador con mayor ganancia por decada
for i in Decadas:
    dec_ = file_.loc[file_['Decada']== i].sort_values(by = 'earnings')
    print('Decada',i)
    print(dec_[-1:],'\n\n')

Decada 90
              Name       Sport Decada  earnings
70  Michael Jordan  Basketball     90      78.3


Decada 2000
            Name Sport Decada  earnings
171  Tiger Woods  golf   2000     115.0


Decada 2010
                 Name   Sport Decada  earnings
241  Floyd Mayweather  Boxing   2010     300.0


Decada 2020
              Name   Sport Decada  earnings
291  Roger Federer  Tennis   2020     106.3

In [ ]:
#Ganancia total por cada deporte por cada año
Lista_anhos = []
for i in file['Year']:
    if i in Lista_anhos:
        pass
    else:
        Lista_anhos.append(i)
for i in Lista_anhos:
    anho = file.loc[file['Year']== i].sort_values(by = 'earnings')
    print(i,'\n')
    tabla=anho.groupby(['Sport']).earnings.sum()
    print(tabla,'\n\n')

1991

Sport
auto racing     33.0
basketball      16.0
boxing         116.7
golf            17.8
Name: earnings, dtype: float64


1992

Sport
Auto Racing    36.5
Basketball     35.9
Boxing         28.0
Golf           20.3
NFL             9.5
Tennis         28.5
Name: earnings, dtype: float64


1993

Sport
Auto Racing    16.0
Auto racing    18.5
Baseball       12.7
Basketball     36.0
Boxing         55.8
NBA            15.2
NFL            11.5
Tennis         12.6
Name: earnings, dtype: float64


1994

Sport
Auto Racing    24.8
Basketball     46.7
Boxing         24.1
Golf           28.4
Ice Hockey     13.5
Tennis         11.4
Name: earnings, dtype: float64


1995

Sport
American Football / Baseball    22.5
auto racing                     15.0
basketball                      65.8
boxing                          80.2
golf                            15.1
ice hockey                      14.5
tennis                          16.0
Name: earnings, dtype: float64


1996

Sport
Basketball        102.8
Boxing             90.5
F1 Motorsports     33.0
Golf               15.1
NFL                16.5
Tennis             15.2
Name: earnings, dtype: float64


1997

Sport
Basketball        120.7
Boxing            119.3
F1 Motorsports     35.0
Golf               26.1
Hockey             17.9
NASCAR             19.1
Name: earnings, dtype: float64


1999

Sport
Auto Racing     75.5
Basketball      94.0
Boxing         141.0
Golf            47.0
Name: earnings, dtype: float64


2000

Sport
Auto Racing              59.0
Auto Racing (Nascar)     24.5
Basketball              108.0
Boxing                   94.0
Golf                     53.0
Name: earnings, dtype: float64


2002

Sport
Auto Racing              20.0
Auto Racing (Nascar)     20.0
Basketball              129.0
Boxing                   51.0
F1 Motorsports           67.0
Golf                     69.0
Name: earnings, dtype: float64


2003

Sport
Auto Racing        23.0
Baseball           26.0
Basketball        119.0
Boxing             30.0
F1 Motorsports     75.0
Golf               78.0
Tennis             24.0
Name: earnings, dtype: float64


2004

Sport
American Football     42.0
F1 racing             80.0
baseball              26.2
basketball           122.7
golf                  80.3
soccer                28.0
tennis                28.2
Name: earnings, dtype: float64


2005

Sport
American Football    37.5
F1 racing            60.0
basketball           95.2
boxing               38.0
cycling              28.0
golf                 87.0
motorcycle gp        28.0
soccer               32.5
Name: earnings, dtype: float64


2006

Sport
American Football     29.0
F1 racing             58.0
baseball              29.0
basketball            93.0
boxing                55.0
golf                 137.0
motorcycle gp         30.0
Name: earnings, dtype: float64


2007

Sport
F1 racing      76.0
basketball     96.0
boxing         43.0
golf          142.0
soccer         64.0
Name: earnings, dtype: float64


2008

Sport
F1 racing         44.0
basketball       122.0
golf             160.0
motorcycle gp     35.0
soccer            87.0
tennis            35.0
Name: earnings, dtype: float64


2009

Sport
F1 racing         45.0
NASCAR            34.0
basketball       130.0
boxing            40.0
golf             150.0
motorcycle gp     35.0
soccer            42.0
Name: earnings, dtype: float64


2010

Sport
American Football     78.2
basketball            90.8
boxing               107.0
golf                 151.0
soccer                43.7
tennis                43.0
Name: earnings, dtype: float64


2011

Sport
F1 racing      34.0
baseball       35.0
basketball    101.0
golf          121.5
soccer        110.3
tennis         47.0
Name: earnings, dtype: float64


2012

Sport
American Football     42.4
Basketball           105.3
Boxing               147.0
Golf                 107.2
Soccer                88.5
Tennis                52.7
Name: earnings, dtype: float64


2013

Sport
American Football    100.0
Basketball           121.7
Golf                 126.8
Soccer               132.5
Tennis                71.5
Name: earnings, dtype: float64


2014

Sport
American Football     43.8
Basketball           133.8
Boxing               105.0
Golf                 114.4
Soccer               144.7
Tennis               100.7
Name: earnings, dtype: float64


2015

Sport
Basketball    168.5
Boxing        460.0
Golf          101.4
Soccer        153.4
Tennis         67.0
Name: earnings, dtype: float64


2016

Sport
American Football     53.1
Basketball           183.4
Golf                 105.7
Soccer               169.4
Tennis               123.6
Name: earnings, dtype: float64


2017

Sport
Basketball    146.8
Golf           50.0
Soccer        173.0
Tennis         64.0
Name: earnings, dtype: float64


2018

Sport
American Football    126.8
Basketball           162.4
Boxing               285.0
MMA                   99.0
Soccer               309.0
Tennis                77.2
Name: earnings, dtype: float64


2019

Sport
American Football    178.8
Basketball           234.2
Boxing                94.0
Soccer               341.0
Tennis                93.4
Name: earnings, dtype: float64


2020

Sport
American Football    119.6
Basketball           226.5
Golf                  62.3
Soccer               304.5
Tennis               106.3
Name: earnings, dtype: float64